.search {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  max-width: 20rem;

  &__input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: 0.125rem solid var(--border-color);

    font-size: 16px;
    color: #333;
    box-shadow: 5px 4px 0px 0px var(--text-color);

    margin-bottom: 1.5rem;
    &:focus {
      background-color: var(--bg-color);
    }
  }

  &__input:focus {
    outline: none;
  }

  &__icon {
    position: absolute;
    left: 10px;
    top: 32%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
