.search {
  position: relative;
  max-width: 15rem;

  &__input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: var(--bg-color);
    margin-bottom: 1.5rem;
    transition: border-color 0.3s ease;
  }
  
  &__input:focus {
    outline: none;
    border-color: #EF233C;
    &::placeholder {
      color: transparent;
    }
  }
  
  &__input:focus + &__icon {
    color: #EF233C;
}

  &__icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    transition: color 0.3s ease;
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
