.gps {
  &__title {
    font-family: 'Great Vibes', sans-serif;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--light-red);
  }
  &__subtitle {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--dark-red);
    color: white;
    border-radius: 5px;
    margin-bottom: 1.5rem;
  }
  &__container {
    position: relative;
    max-width: 100%;
    min-height: 70vh;
  }
  &__search-container {
    position: absolute;
    z-index: 2;
    left: 30px;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  &__input, &__submit {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  &__input {
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
  }
  &__submit {
    padding: 8px;
    background-color: #D5F2E3;
  }
}

.map {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
