.search-results {
  position: absolute;
  z-index: 1;
  background-color: var(--bg-color);
  top: 3.2rem;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 0.5rem;
  overflow: hidden;

  &__list {
    display: flex;
    flex-direction: column;
  }
  &__li {
    padding: 0.5rem;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #f9f9f9;
    }
    &--active {
      background-color: #d6d4d4;
    }
  }
  &__title {
    font-size: 0.8rem;
    line-height: 1;
    margin: 0 0 0.35rem 0.1rem;
  }

  &__button {
    background-color: var(--dark-red);
    color: #fff;
    padding: 0.4rem 0.7rem;
    border-radius: 0.3rem;
    display: inline-block;
    margin-right: 1rem;
    transition: background-color 0.5s ease;
  }
  &__li--active &__button {
    background-color: var(--dark-green);
  }

  &__bauble {
    display: none;
    width: 1.5rem;
    transform: translate(0, 0.3rem);
  }

  &__li--active &__bauble {
    display: inline-block;
  }
}
