.reader {
    &__search {
        border: 1px solid black;
        border-radius: 0.4rem;
        box-shadow: 3px 4px 0px 0px var(--text-color);
        padding: 4px 10px;
        &:focus {
            outline: none;
        }
    }
}

@media only screen and (max-width: 767px) {
    .reader__search {
        margin-bottom: 20px;
    }
}