.reader {
  padding-bottom: 5rem;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  &__top-section {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}
