.save {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &__title {
    display: flex;
    gap: 1rem;
  }

  &__divider {
    background-color: black;
    padding: 1px;
  }

  &__direction {
    display: flex;
    gap: 1rem;
  }

}
