.save {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 1rem;
  padding: 1rem;
  border: 0.125rem solid var(--border-color);
  border-radius: 0.3rem;
  transition: box-shadow 0.3s ease;
  box-shadow: var(--box-shadow);
  cursor: pointer;

  &:hover {
    background-color: var(--light-green);
  }

  &__title {
    display: flex;
    gap: 1rem;
  }

  &__divider {
    background-color: black;
    padding: 1px;
  }

  &__direction {
    display: flex;
    gap: 1rem;
  }
  &__icon {
    width: 2rem;
    color: var(--dark-green);
  }
}
