.history {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 5rem;

  @media screen and (min-width: 48rem) {
    padding-bottom: 0;
  }

  &__title {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;

    @media screen and (max-width: 48rem) {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
  }

  &__advice {
    text-align: center;
    font-weight: semibold;
    color: crimson;
  }
}
